# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[General]
# Bites uses the next entry to discover the platform shaders
FileSystem=./resources/Media
FileSystem=./resources/Media/scripts
FileSystem=./resources/Media/textures
FileSystem=./resources/Media/textures/map_asset
FileSystem=./resources/Media/models
FileSystem=./resources/Media/MyGUI_Media/
